*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 3500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bar{
    width: 100%;
    height: 60px;
    background-color: #ff225d;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 20;
    position: fixed;
}
.bar-list{
    list-style: none;
    cursor: pointer;
}

.bar-list .l1{
    display: inline;
    float: right;
   margin: 15px;
}

.menu-items{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 30.7px;
    left: 0px;
    visibility: hidden;
    cursor: pointer;
}

#menu:hover .menu-items,.menu-items:hover {
  visibility: visible;
  opacity: 1;
}

.menu-list{
    list-style: none;
}

.menu-items .l2{
    margin: 10px; 
}

.bar-element{
    height: 50%;
    width: 100%;
    position: relative;
}

.element-heading {
  display: inline-block;
  line-height: 30px;
  text-align: center;
}


.element-underline::after
{
position: absolute;
background-color:#01e3e4;
bottom: 0;
left: 0;
content: "";
height: 5%;
width: 0;
opacity: 1;
transition: 0.5s;
}

.bar-element:hover .element-underline::after {
    width: 100%;
    height: 5%;
    opacity: 1;
}

.element-heading2 {
  display: inline-block;
  text-align: center;
  position: relative;
}

.bar-element2 {
  position: relative;
  text-align: center;
}

.element-heading2 {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.element-heading2::after {
  content: "";
  position: absolute;
  background-color: #01e3e4;
  bottom: 0;
  left: 0;
  height: 1.5px;         
  width: 0;
  opacity: 1;
  transition: 0.4s;
}

.bar-element2:hover .element-heading2::after {
  width: 100%;
}



.slogan-parent{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Screenshot\ 2025-07-02\ 164809.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}


.slogan-overlay{
    position: absolute;
    background-color: rgba(250, 235, 215,0.4);
    width: 100%;
    height: 100%;
}


.slogan-content{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.slogan-title1{
    font-size: 60px;
}

.slogan-p{
    color: rgba(0, 0, 0, 0.636);
    margin: 15px 0px;
    letter-spacing: 0.8px;
}

.slogan-btn{
    width: 130px;
    padding: 15px;
    border: 0;
    border-radius: 7px;
    text-transform: capitalize;
    cursor: pointer;
}

.slogan-btn2{
    margin-left: 12px;
    background-color: #ff225d;
    color: white;
}

.slogan-btn:hover{
    opacity: 0.8;
}

.icons{
    position: relative;
}

#text-search{
    border-radius: 15px;
    position:absolute;
    margin-left: 50px;
    margin-top: 10px;
}


.bar-home{
    position: absolute;
    height:30px ;
    margin-top: 10px;

}


.bar-search{
    position: absolute;
    height: 20px;
    margin-left: 60px;
    margin-top: 15px;
}

.welcome-parent{
    width: 100%;
    height: 100vh;
    position: relative;
}

.welcome-title{
    height: 100px;
    width: 100%;
    position: relative;
}

.welcome-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

.welcome-underline{
position: absolute;
background-color: #ff225d;
width: 7%;
height: 2px;
margin-left: 50%;
transform: translate(-50%);
}

.welcome-container{
    position: relative;
    margin-top: 30px;
}

.welcome-cont1, .welcome-cont2,.welcome-cont3{
    width: 300px;
    height: 200px;
    border: 1px solid #ff225d ;
    border-radius: 5px;
    float: left;
    margin-left: 150px;
    position: relative;
    padding: 10px;
}
.welcome-cont1:hover,.welcome-cont2:hover,.welcome-cont3:hover h3{
    color: #01e3e4;
}

.welcome-cont1:hover .pp {
color: black;
}

.welcome-cont2:hover .pp {
color: black;
}

.welcome-cont3:hover .pp {
color: black;
}

.welcome-cont1::after, .welcome-cont2::after,.welcome-cont3::after{
position: absolute;
content: "";
width: 0;
height: 0;
top:0;
left: 0;
transition: 1s;
background-color: #ff225d;
opacity: 0;
}

.welcome-cont1:hover::after, .welcome-cont2:hover::after,.welcome-cont3:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.4;
}



.cookie,.cake,.loaf{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
    font-size: 35px;
    color: #ff5280;
}

.welcome-cont1:hover .cookie {
color:#ff0145;
}

.welcome-cont2:hover .cake {
color:#ff0145;
}

.welcome-cont3:hover .loaf {
color:#ff0145;
}

.welcome-cont1:hover .p2 {
color:#ff0145;
}

.welcome-cont2:hover .p2 {
color:#ff0145;
}

.welcome-cont3:hover .p2 {
color:#ff0145;
}


.welcome-parent h3{
    text-align: center;
    margin:15px;
}

.welcome-parent p{
    text-align: center;
    color: rgba(0, 0, 0, 0.593);
}

.welcome-parent .p2{
    text-align: center;
    color: #ff5280;
    margin: 15px;
}


.featured-parent{
    width: 100%;
    height: 100vh;
    background-color: #ee92aa49;
    position: relative;
}


.featured-title{
    height: 100px;
    width: 100%;
    position: relative;
}

.featured-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

.featured-underline{
position: absolute;
background-color: #ff225d;
width: 7%;
height: 2px;
margin-left: 50%;
transform: translate(-50%);
}

.featured-group{
   width:80%;
   margin: auto; 
}

.featured-container{
    position: relative;
    width: 90%;
    margin: auto;
}

.featured-cont{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    float: left;
    margin: 30px;
    position: relative; 
}

.featured-cont img{
    width: 100%;
    height: 100%;
}

.featured-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:  rgba(0, 0, 0,0.5);
    text-align: center;
    visibility: hidden;
}

.featured-overlay h2{
    margin-top: 25px;
    color: rgba(240, 248, 255, 0.553);
}

.featured-overlay p{
   margin-top: 25px;
    color: aliceblue
}

.featured-overlay i{
font-size: 25px;
margin-top: 35px;
color: aliceblue;
}

.featured-cont:hover .featured-overlay{
    visibility: visible;
}


.offer-parent{
    width: 100%;
    height: 100vh;
    overflow:auto;
}

.offer-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

.offer-underline{
position: absolute;
background-color: #ff225d;
width: 7%;
height: 2px;
margin-left: 50%;
transform: translate(-50%);
}


.offer-group{
    width: 80%;
    margin: auto;
}

.offer-container{
position: relative;
}

.offer-cont{
    position: relative;
    border: 1px solid #ff225d ;
    border-radius: 5px;
    width: 30%;
    height: 200px;
    float: left;
    margin: 50px 0px;
    text-align: left;
    position: relative;
    float: right;
    padding: 20px;
}

.offer-cont .icon{
    font-size: 30px;
    color: #ff5280;
    position: relative;
    float: left;
    margin-right: 15px;
}

.offer-cont h2{
    margin-bottom: 15px;
}

.offer-cont p{
    color: rgba(0, 0, 0, 0.468);
    margin-left: 45px;
}

.offer-cont:hover h2{
    color: #ff225d;
}

.offer-cont:hover p{
    color: black;
}

.offer-cont:hover .icon{
    color: #ff0145;
}
.offer-cont::after{
    position: absolute;
    top: 0;
    content: "";
    left: 0;
    width: 0;
    height: 0;
    background-color: #ff225d;
    opacity: 0;
    transition: 1s;
}

.offer-cont:hover::after{
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.cont2{
    margin: 50px 5%;
}


.choose-parent{
    width: 100%;
    height: 100vh;
    position: relative;
}

.choose-content{
    position: relative;
    margin-left: 150px;
    text-align: left;
    width: 40%;
    float: left;
}

.choose-paragraph{
    margin: 50px;
    margin-left: 0;
    color: rgba(0, 0, 0, 0.389);
}
.choose-title{
    height: 100px;
    width: 100%;
    position: relative;
}

.choose-heading{
    text-align: left;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 40px;
}

.choose-underline{
position: absolute;
background-color: #ff225d;
width: 5%;
height: 2px;
}

.choose-list{
    list-style: none;
}

.choose-list i{
    color: #ff225d;
}

.choose-list li{
    margin: 30px 0px;
    color: rgba(0, 0, 0, 0.519);
}

.choose-l1{
    color: #ff225d;
}

.choose-l2,.choose-l3{
color: rgba(0, 0, 0, 0.329);
}

.choose-l2:hover,.choose-l3:hover{
color: #ff225d;
}

.choose-image{
    position: relative;
    float:right;
    margin-right: 200px;
    margin-top: 30px;
}

.choose-image img{
    margin-bottom: 15px;
}
.choose-image ul{
    list-style: none;
    text-align: center;
}

.choose-image ul li{
    display: inline;
    margin: 5px;
}


.awards-parent{
    background-image: url(../images/background1.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.awards-top
{
    width: 100%;
    height: 25vh;
    background-color: white;
}

.awards-bottom
{
    width: 100%;
    height: 25vh;
    background-color: white;
}

.awards-content{
    width: 100%;
    height: 400px;
   background-color: rgba(250, 235, 215, 0.277);
   position: relative;
   margin-left: -20px;
}

.award-conts{
    position: relative;
    margin: auto;
    width: 80%;  
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.awards-cont{
    display: inline-block;
    text-align: center;
    width: 20%;
}

.awards-cont i{
    color: #ff225d;
    font-size: 40px;
}

.pricing-parent{
    width: 100%;
    height: 100vh;
    position: relative;
}


.pricing-title{
    height: 100px;
    width: 100%;
    position: relative;
}

.pricing-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

.pricing-underline{
position: absolute;
background-color: #ff225d;
width: 5%;
height: 2px;
margin-left: 50%;
transform: translate(-50%);
}

.pricing-container{
    position: relative;
    width:80%;
    margin: auto;
    margin-top: 20px;
}

.pricing-cont{
    position: relative;
    float: left;
    width: 30%;
    height: 400px;
    border: 1.5px solid #ff225d;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}


.pricing-cont::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ff5280;
    opacity: 0;
    transition: 1s;
    z-index: 0;
}
.pricing-cont:hover::after{
width: 100%;
height: 100%;
opacity: 0.3;
}

.pricing-cont2{
    margin: 0px 5%;
}
.price-title{
    text-transform: uppercase;
}

.pricing-cont:hover .price{
border: 2px solid #c10235;
}

.pricing-cont:hover .price-title{
color: #c10235;
}

.price{
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff52809d;
    left: 50%;
    transform: translate(-50%);
    margin: 20px 0px;
    padding-top: 25px;
}

.price .number{
    font-size: 40px;
    line-height: 10px;
}

.pricing-info .text{
    line-height: 30px;
}

.pricing-info button{
    width: 170px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ff225d;
    position: relative;
    z-index: 1;
}


.marketing-parent{
    background-image: url(../images/ChatGPT\ Image\ Jul\ 8\,\ 2025\,\ 01_35_56\ AM.png);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.marketing-top
{
    width: 100%;
    height: 25vh;
    background-color: white;
}

.marketing-bottom
{
    width: 100%;
    height: 25vh;
    background-color: white;
}

.marketing-overlay{
    width: 100%;
    height: 400px;
   background-color: rgba(250, 235, 215, 0.277);
   position: relative;
   overflow: hidden;
}
.marketing-content{
    width: 90%;
    height: 400px;
    margin: auto;
}
.marketing-cont{
    margin: auto;
    width: 40%;
    margin: 0 5%;
    float: left;
    margin-top: 200px;
    transform: translate(0,-50%);
}

.marketing-icon .text{
    float: right;
    margin-right:200px;
}

.marketing-icon .text h2{
    font-size: 30px;
    color:#ef7797;
}

.marketing-icon .text h3{
    color: rgba(0, 0, 0, 0.441);
}

.marketing-icon .image{
height: 100px;
width: 100px;
border-radius: 50%;
float: left;
margin-top: -25px;
}
.marketing-icon .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.marketing-cont p{
    float: left;
}

.team-section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.team-title{
    height: 100px;
    width: 100%;
    position: relative;
}

.team-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

.team-underline{
position: absolute;
background-color: #ff225d;
width: 5%;
height: 2px;
margin-left: 50%;
transform: translate(-50%);
}

.team-container{
    width:80%;
    margin: auto;
}


.team-parent{
    overflow: auto;
    position: relative;
}

.team-item{
    float: left;
    width: 30%;
    padding: 18px 14px;
    text-align: center;
    background-color: rgba(1, 227, 228,0.1);
    border-radius: 5px;
    position: relative;
}

.item2{
    margin: 0px 5%;
}

.team-image{
    width: 90%;
    margin: auto;
    position: relative;
}

.team-image img{
    width: 100%;
}

.team-icons{
font-size: 40px;
color: #ff225d;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.4);
visibility: hidden;
opacity: 0;
transition: 1s;
}

.team-item:hover .team-icons{
visibility: visible;
opacity: 1;
}

.team-item:hover .team-info h2{
color:#01e3e4;
}

.team-item:hover .team-info p{
color:#ff225d;
}

.team-icons a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ff225d;
    color: white;
    margin: 0px;
    margin-left: auto;
}

.team-icons a i{
    line-height: 40px;
    font-size: 30px;
}

.team-info-title{
margin: 15px 0px;
}

.team-info-p{
    color: rgba(0, 0, 0, 0.552);
}

.team-item::after{
position: absolute;
content: "";
width: 100%;
height: 0;
top:0;
left: 0;
background-color: #ff225d;
opacity: 0;

}

.team-item:hover::after{
width: 100%;
height: 100%;
opacity: 0.3;
transition: 1s;
}


.recent-title{
    height: 100px;
    width: 100%;
    position: relative;
}

.recent-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

.recent-underline{
position: absolute;
background-color: #ff225d;
width: 7%;
height: 2px;
margin-left: 50%;
transform: translate(-50%);
}

.recent-parent{
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.recent-container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.recent-cont{
    width: 30%;
    height: 450px;
    position: relative;
    float: left;
    border: 1px solid #ff225d;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.recent-cont2{
    margin: 0px 5%;
}

.recent-container .image{
    width: 75%;
    height: 200px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    text-align: center;
}

.recent-container .image img{
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}

.recent-icons{
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.recent-icons i{
    color: #ff225d;
}

.recent-icons span{
    margin-right:15px;
}

.recent-icons h3 , p , a{
   margin: 10px;
}

.recent-icons p {
    color: rgba(0, 0, 0, 0.526);
}


.recent-icons a {
    text-decoration: none;
    color: #ff225d;
}

.recent-cont:hover p {
    color: black;
}

.recent-cont:hover h3 {
    color:#01e3e4;
}

.recent-cont::after{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    position: absolute;
    content: "";
    opacity: 0;
    background-color: #ff225d;
    z-index: 0;
}

.recent-cont:hover::after{
    height: 100%;
    width: 100%;
    opacity: 0.3;
    transition: 0.5s;
}

.recent-cont * {
    position: relative;
    z-index: 1;
}

.end{
    width: 100%;
    background-color: #f96b9167;
    position: relative;
    overflow: hidden;
}

.end-container{
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
}

.end-image{
    margin: auto;
}

.end-image img{
    margin: 20px 0px;
    border-radius: 10px;
}

.end-footer{
    margin: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.501);
}

.end-icons ul{
    list-style-type: none;
}

.end-icons ul li{
    display: inline-block;
    background-color: #ff5280;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 10px;
}
.end-icons ul li i{
  color: white;
  font-size: 35px;
}


.end-icons ul li:hover{
    background-color: #ff0145;
    transition: 1.5s;
}


